@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$bg-home: #2B3944;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202C38;
  color: #fff;
}

.country {
  background: $bg-home;
  overflow: hidden;
  transition: 0.25s;

  .flag {
    width: 100%;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      transition: 0.15s;
      object-fit: cover;
    }
  }

  &:hover {
    background: #364550;
    
    .flag img {
      scale: 1.03;
    }
  }
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: black, $alpha: .85);
}

.back {
  background-color: $bg-home;
  padding: .5rem .8rem;
  width: min-content;
  transition: 0.15s;

  &:hover {
    background-color: #364550;
  }
  &:active {
    background-color: #2B3944;
  }
}